ody{
    background-color: rgb(207, 90, 90);
}

.site{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
}

.logo{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 13%;
    margin: 30px 0 20px ;


}


.topo{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font: normal 10px arial, verdana, serif;
    text-align: start;
}
p#principal{
    color: rgb(0, 0, 0);
    font: normal 11px arial, verdana, serif;
    
}

h2{
    background-color: rgba(113, 41, 41, 0.626);
    color: white;
}

.img2 {
    display: flex;
    justify-content:center;
    flex-direction: column;
    min-height: 400px;
    height: fit-content;
    width: 30%;
}
    
    


.img3 {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    min-height: 400px;
    height: fit-content; 
    width: 30%;
}



.conteiner{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 500px;
    flex-direction: column;
}
    
    

    
